body {

	/*background-image: "http://www.yardrocks.com/images/dog14_md.gif";*/
	background-color: LightCyan;
	background-position: center;

	text-align: center;
}

h1 {
	text-align: center;
	font-weight: bold;
}


}
h3 {
	text-align: center;
}

p {
	font-weight: bold;
	font-size: 28;
}


.Submit{
	color: Blue;
	font-weight: bolder;
	font-size: 100%;
	background-color: Gold;
	margin-top: 20px;
}